<div id="profile" data-role="view" data-title="Información Personal" data-layout="mainMenu2" data-model="app.profile" data-show="app.profile.onShow" data-after-show="app.profile.afterShow">
    <br>
    
    <div id='myprofile'>
        <div style="text-align:center;">
            <img onclick="changePhoto();" id="imgprofile" style="border:4px solid #c7333a;border-radius:100%;max-width:40%;" src="resources/no-photo.jpg"/>
            <br><br>
            <button class="km-primary km-button" onclick="changePhoto();"><i class="fa fa-camera" aria-hidden="true"></i> Cambiar Foto Perfil</button>
        </div>

        <ul id="navigation-container" data-role="listview" data-style="inset">
            <li>
                <label class="km-label-above" style="color:white;">
                    Nombres
                   <input id="name" disabled value="" type="text"  style='color:white;'/>
                </label>
            </li>
            <li>
                <label class="km-label-above" style="color:white;">
                    Apellido Paterno
                    <input id="lastn" disabled value="" type="text"  style="color:white;"/>
                </label>
            </li>
            <li>
                <label class="km-label-above"  style="color:white;">
                    Apellido Materno
                    <input id="lastnm" disabled value="" type="text"  style="color:white;"/>
                </label>    
            </li>
            <li>
                <label class="km-label-above"  style="color:white;">
                    Fecha Cumpleaños
                    <input id="birthday" disabled value="" type="text"  style="color:white;"/>
                </label>
            </li>
            <li>
                <label class="km-label-above"  style="color:white;">
                    Correo Electrónico
                    <input name="new_email" id="new_email" type="text" value=""  style="color:white;text-transform: lowercase;"/>
                </label>
            </li>
            <li>
                <label class="km-label-above"  style="color:white;">
                    Teléfono Móvil
                    <input class="input-phone-2" name="new_cellphone" id="new_cellphone" type="tel" value="" maxlength="9"/>
                </label>
                <!-- <label class="label-phone" style="color:white;">Teléfono Móvil</label>
                <br><br>
                <input class="input-phone-1" type="text" value="+56"/>        
                <input class="input-phone-2" name="new_cellphone" id="new_cellphone" type="tel" value="" maxlength="9"/> -->
            </li>
            <li style="border-bottom:none;">
                <div style="text-align:center">
                    <button onclick='sendContact()' class='km-button km-primary' id='edit_contact'>Actualizar Contacto</button>
                </div>
            </li>
        </ul>
    </div>

    <div id="errorProfile" style="display:none;text-align:center;">
        <h1 style="color:white;" id="h1ErrorProfile"></h1>
        <br>
        <button id="btnProfileHome" onclick="goHomeButton()" class='km-button km-primary'>Inicio</button>
        <button id="btnProfileReload" onclick="app.profile.onShow();" class='km-button km-primary'>Recargar</button>
    </div>
</div>