<div id="docs_schedule" data-role="view" data-title="Horarios de Clases" data-layout="mainMenu2" data-model="app.docs_schedule" data-show="app.docs_schedule.onShow" data-after-show="app.docs_schedule.afterShow">  
    <br>
    <ul id="div_docs_schedule" data-role="listview" data-style="inset" style="background-color:transparent;border-color:transparent;"></ul>    
    
    <div id="errorDocsSchedule" style="display:none;text-align:center;">
        <h1 style="color:white;" id="h1ErrorDocsSchedule"></h1>
        <br>
        <button id="btnDocsScheduleHome" onclick="goHomeButton()" class='km-button km-primary'>Inicio</button>
        <button id="btnDocsScheduleReload" onclick="app.docs_schedule.onShow();" class='km-button km-primary'>Recargar</button>
    </div>
  
    <script type="text/x-kendo-template" id="template_docs_schedule">
        <li style="text-align:center;border-color:transparent;margin:0px;padding:5px;">
            <a onclick="openSchedule('#: link#');" class="km-button km-primary" style="width:80%;"><i class="fa fa-cloud-download" aria-hidden="true"></i> Horario #: clubname#</a>
        </li>
    </script>
</div>