<div id="history_eval" data-role="view" data-title="Historial Evaluaciones" data-layout="mainMenu2" data-model="app.history_eval" data-show="app.history_eval.onShow" data-after-show="app.history_eval.afterShow">	
    <br>
    <div style="width:100%;background-color:white;" id="chartEval"></div>
    <div id="div_myEvaluation"></div>
    
    <div id="errorHistoryEval" style="display:none;text-align:center;">
        <h1 style="color:white;" id="h1ErrorHistoryEval"></h1>
        <br>
        <button id="btnHistoryEvalHome" onclick="goHomeButton()" class='km-button km-primary'>Inicio</button>
        <button id="btnHistoryEvalReload" onclick="app.history_eval.onShow();" class='km-button km-primary'>Recargar</button>
    </div>
</div>
