<div id="history_routine_3" data-role="view" data-title="&nbsp;" data-layout="back-historyRoutine2" data-model="app.history_routine_3" data-show="app.history_routine_3.onShow" data-after-show="app.history_routine_3.afterShow">
    <br>
    <div id="div_image_rt3"></div>
    <br>
    <div id="div_info_rt3"></div>    
</div>