<div id="training_pt" data-role="view" data-title="Comprar Sesión PT" data-layout="mainMenu2" data-model="app.training_pt" data-show="app.training_pt.onShow" data-after-show="app.training_pt.afterShow">
    <div id="div_training" style="display:none;">
        <ul id="formTrainingPT" data-role="listview" data-style="inset">
            <li>
                <label class="km-label-above" style='color:white;'>
                    Club <img src="resources/icon_arrow_down.png" style="width:5%">    
                    <input onchange="loadPT(this.value)"  id="clubid_training" value="" style='color:white;'/>
                </label>
            </li>
        </ul>
                  
        <div style="text-align:center;" id="div_pts">
          <h2 style="color:white;padding-top:15px;">Profesores Disponibles&nbsp;&nbsp;<a style="color:white;" onclick="loadPT($('#clubid_training').val())"><i class="fa fa-refresh fa-lg" aria-hidden="true"></i></a></h2>
          <hr style="border-color:#292929;">
          <ul id="ul_pts" data-role="listview" data-style="inset"></ul>    
        </div>    
    </div>
    
    <div id="errorTrainingPT" style="display:none;text-align:center;">
        <br>
        <h1 style="color:white;" id="h1ErrorTrainingPT"></h1>
        <br>
        <button id="btnTrainingPTHome" onclick="goHomeButton()" class='km-button km-primary'>Inicio</button>
        <button id="btnTrainingPTReload" onclick="app.training_pt.onShow();" class='km-button km-primary'>Recargar</button>
    </div>
          
    <script type="text/x-kendo-template" id="template_ul_pts">
        <li>
            <div class="row">
                <div class="col-xs-4">
                    <div style="padding-top:30px;">
                        <img style="border:4px solid \#c7333a;border-radius:100%;max-width:100%;" src="#:photo#" />
                    </div>
                </div>
                <div class="col-xs-8" style="padding-left:0px;margin-left:0px;">
                    <h2 style="padding-top:5px;">#: date_name #</h2>
                    <h3 style="padding-top:3px;">#: time#</h3>
                    <h4 style="padding-top:3px;">#: name#</h4>
                    <h5 style="padding-top:3px;">$ #: money#</h5>
                    <input type="hidden" value="#:date#" id="date_#:blockid#"/>
                    <input type="hidden" value="#:date_name#" id="date_name_#:blockid#"/>
                </div>
            </div>
            <div style="padding-top:15px;">
                <button style="font-size:15px;" onclick="selectTime(#:blockid#)" class="km-primary km-button">Comprar Sesión</button>  
            </div>                  
        </li>
    </script>
      
    <div id="content_modal_pt"></div>
</div>