<div id="actual_reserve_class" data-role="view" data-title="Mis Reservas Clase Grupal" data-layout="mainMenu2" data-model="app.actual_reserve_class" data-show="app.actual_reserve_class.onShow" data-after-show="app.actual_reserve_class.afterShow">
    <div id="div_list_reserve_class"></div>    
      
    <div id="errorActualReserveClass" style="display:none;text-align:center;">
        <br>
        <h1 style="color:white;" id="h1ErrorActualReserveClass"></h1>
        <br>
        <button id="btnActualReserveClassHome" onclick="goHomeButton()" class='km-button km-primary'>Inicio</button>
        <button id="btnActualReserveClassReload" onclick="app.actual_reserve_class.onShow();" class='km-button km-primary'>Recargar</button>
    </div>
</div>
