.km-nova .km-list > li > .km-listview-link,
.km-nova .km-legend-button,
.km-nova .km-collapsible-header,
.km-nova .km-collapsible-header h1,
.km-nova .km-collapsible-header h2,
.km-nova .km-collapsible-header h3,
.km-nova .km-collapsible-header h4,
.km-nova .km-collapsible-header h5,
.km-nova .km-collapsible-header h6 {
  color: #585858;
  padding-bottom:3px;
  padding-top:3px;
}

.km-nova .km-primary {
  color: #fff;
  background: #c7333a;
  border-color: #c7333a;
}

/*cuando se hace click en algun menu*/
.km-nova .km-tabstrip .km-state-active{
    background:#000000 !important;
    color:white !important;
}

.km-nova .km-tabstrip{
    background:#000000;    
}

.dateOccu{
    background-color: #F78181;
    border-color: #F78181;    
    border-radius:100%;
}

.km-nova .km-footer {
  background: #000000;
}

.km-nova .km-touch-scrollbar {
  background: #000000;
}

.header-logo{
  background-color:#000000;
}

.k-header{
  background-color: #c7333a;    
}

/*para dia actual usar #c7333a */
.k-calendar .k-today{
  background-color: #c7333a;        
}

/* fecha selecta */
.k-calendar td.k-state-focused.k-state-selected {
   background-color: #842b34;    
}

/*color de fondo para los titulos de los menus*/
.km-view-title{
  background-color:#292929;
}

/*colo de fondo para los menus*/
/*.km-nova .km-scroll-container{
  background-color:#262626;
}*/

/*colo de fondo para todo el contenido del menu*/
.km-nova .km-drawer .km-content {
  background-color: #000000;
}

/*color de fondo al hacer click en un menu en la lista*/
.km-nova .km-drawer .km-listview li.km-state-active {
  background: #414143;    
}

/*color para los bordes de los menus acorde con los colores */
#navigation-container > li, #form_newmember > li, #form_change_password > li, 
#form_recovery_p1 > li, #formBlockPT > li, #formTrainingPT > li{
  border-color:#292929;
}

/*para vista disponibilidad pt asi que marca blanco cuando se usa*/
#formBlockPT li.km-state-active, #formTrainingPT li.km-state-active{
  background: #000000;    
}

#formBlockPT span.k-input, #formTrainingPT span.k-input,#navigation-container span.k-input{
    color:white;
}

/*color que aparece cuando se hace click en el menu*/
.km-nova .km-accent.km-navbar,
.km-nova .km-accent.k-toolbar,
.km-nova .km-accent.km-tabstrip,
.km-nova .km-vertical-tabstrip .km-button.km-state-active:before,
.km-nova .km-drawer .km-listview li.km-state-active:before {
  background: #c7333a;
}

/* color de fondo para todo el contenido */
.km-nova .km-view .km-content {
    background-color: #000000;
}
 /* esta clase esta comentada en kendo.mobile.all para que el menu quede arriba =)*/

/*color de fondo al hacer click en un menu en la lista*/
.km-nova .km-drawer .km-listview li.km-state-active {
  background-color: #292929;
}

@font-face {
  font-family: 'DINPRO-Medium';
  src: url('styles/fontDmoov/DINPro-Medium.ttf');
}

@font-face {
  font-family: 'Qanelas';
  src: url('styles/fontQanelas/Qanelas-SemiBold.otf');
}

/* background color */
#kendoUiMobileApp{
  background-size:100%;
  background-repeat: repeat;
  /*background-image:url('../resources/background-full.png');*/
  /* letra para todo el contenido */
  font-family: 'Qanelas';
}

.swal2-container >div{
  font-family: 'Qanelas';
}

.loginTemp > div{
  background-size:100%;
  background-repeat: repeat;
  /*background-image:url('../resources/background-full.png');*/
}

.div_login{
  padding-top:15%;
}

a.km-listview-link:after{
  display:none;
}

.k-grid {
    font-size: 10px;
}
.k-grid td {
    line-height: 2em;
}

/* color de las pelotas que cargan en nova */
.km-nova .km-loading-left:before {
  background: #c7333a;
}
.km-nova .km-loading-left:after {
  background: white;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}
::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
}
::-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    white;
}

.placeholderGrey::-webkit-input-placeholder { /* WebKit, Blink, Edge */
   color:   gray;
}
.placeholderGrey::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:   gray;
}
.placeholderGrey::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:   gray;
}
.placeholderGrey::-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:   gray;
}
placeholderGrey::-ms-input-placeholder { /* Microsoft Edge */
   color:   gray;
}


.input-date ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #444444;
}
.input-date ::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #444444;
}
.input-date ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #444444;
}
.input-date ::-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #444444;
}
.input-date ::-ms-input-placeholder { /* Microsoft Edge */
   color:    #444444;
}

.icon-menu{
    padding-top:5px;
    padding-right:5px;
    
    color:white !important;
}

.icon-menu-qr{
    padding-bottom:5px;
    padding-right:10px;
    position: fixed;
    right: 0;
    bottom:0;
    z-index:9999;
}

.icon-menu-back{
    padding-top:5px;
    padding-right:25px;
    position: fixed;
    right: 0;
    z-index:9999;
}

.icon-login{
    padding-top:6px;
    display:inline-block;
    color:#4f4f4f !important;
    background-color:white !important;
    border-radius:50%;
    width: 30px;
    height: 30px;
    z-index:2;
}

/* userid password and button */
.input-login{
    padding-top:15px;
    padding-bottom:15px;
    width:60%;
    border-radius:5px;
    background-color:transparent;*/
    color:white !important;
    border: none;
    text-indent:15px;
}

/* usando el backbround por rgba al ultimo se puede colorcar la opacidad del fondo y asi no interfiere con el resto del contenido*/
.label-login{
    width:75%;
    border-radius:5px;
    margin-bottom:15px;
    /*background: rgba(202, 52, 58, 0.5);*/
    background: rgba(104, 104, 104,0.8);
    color:white !important;
    border: none;    
}

.label-login ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.div-label{
    background-color:#c7333a;
    opacity:0.5;
    z-index:1;
    width:75%;
    border-radius:50px;
    margin-bottom:15px;
    border: none;
}

.pre-login{
    height:100vh;
    background-size:100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url('../resources/pre-login.png');
}

.btnSeats{
    width:30px;
    height:30px;
    border-radius:50%;
    background-color:green;
    text-align:center;
    color:white;
    padding-top:5px;
}

/*footer trasnbank*/

.btn-transbank {
    position: absolute;
    top: -75px;
    right: 25px;
    border-radius:50%;
    background-color:#c7333a;
    border-style:none;
    width:50px;
    height:50px;
    text-align:center;
    color:white;
    
}

.home1{
   background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('../resources/home/pttrainer.jpg');
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 32vh;
   width: 100% ;
   text-align:right;
}

.home2{
   background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('../resources/home/spinning.jpg');
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 31vh;
   width: 100% ;
   text-align:right;
}

.homeFinal{
    height:100vh;
    background-size:100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url('../resources/pre-login.png');
}

.home_content-1{
  margin: 30px 0px 30px 0px;	
  padding: 30px; 
  display: inline-block;
  padding-top:20%;
}

.home_content-2{
  margin: 30px 0px 30px 0px;	
  padding: 30px;  
  display: inline-block;
  padding-top:20%;
}

.icon-menu-2{
    padding-top:5px;
    padding-right:5px;
    position: fixed;
    left: 50px;
    z-index:9999;
    color:white !important;
}

.icon-menu-3{
    padding-top:5px;
    padding-right:5px;
    position: fixed;
    right: 100px;
    z-index:9999;
    color:white !important;
}

.icon-menu-count{
    
    background-color:red;
    border-radius:50%;
    width:20px;
    height:21px;
    line-height:15px;
    font-size:15px;
    text-align:center;
    position:absolute;
    top:0px;
    right:0px;
    color:white;
    z-index:99999;
    margin-top:-8px;
    padding-top:2px;
}

.icon-menu-count-2{
    display:inline-block;
    background-color:red;
    border-radius:50%;
    width:25px;
    height:25px;
    font-size:15px;
    float:right;
    text-align:center;
    color:white !important;
    margin-top: .0em !important; 
}

.btnBlock{
    background-color: #c7333a;
    padding:15px;
    margin-top:15px;
    margin-left:20px;
    margin-right:5px;
    margin-bottom:5px;
    border-radius:5px;
}

.home_temp1{
   background-image: url('../resources/home/logo_buy_1.png');
   -webkit-background-size: contain;
   -moz-background-size: contain;
   -o-background-size: contain;
   background-size: contain;
   background-repeat: no-repeat;
   background-position:center;
   width: auto;
   height: 250px;
}

.home_temp2{
   background-image: url('../resources/home/logo_buy_2.png');
   -webkit-background-size: contain;
   -moz-background-size: contain;
   -o-background-size: contain;
   background-size: contain;
   background-repeat: no-repeat;
   background-position:center;
   width: auto;
   height: 250px;
}

.label-phone{
  font-size: .72em;
  line-height: 1.2em;
  width: 100%;
  right: 0;
  padding-left: 0;
  left: .89em;
  display:block;
}

.input-phone-1{
  left: .89em;
  color:white;
  margin-bottom:0px;
}    

.input-phone-2{
  left: .89em;
  color:white;
  margin-bottom:0px;
}    