<div id="history_class_group" data-role="view" data-title="Historial Clases Grupales" data-layout="mainMenu2" data-model="app.history_class_group" data-show="app.history_class_group.onShow" data-after-show="app.history_class_group.afterShow">
    <div id="div_list_class"></div>    
      
    <div id="errorHistoryReserveClass" style="display:none;text-align:center;">
        <br>
        <h1 style="color:white;" id="h1ErrorHistoryReserveClass"></h1>
        <br>
        <button id="btnHistoryReserveClassHome" onclick="goHomeButton()" class='km-button km-primary'>Inicio</button>
        <button id="btnHistoryReserveClassReload" onclick="app.actual_reserve_class.onShow();" class='km-button km-primary'>Recargar</button>
    </div> 
</div>
