<div id="reserve_class_group" data-role="view" data-title="Reservar Clase Grupal" data-layout="mainMenu2" data-model="app.reserve_class_group" data-show="app.reserve_class_group.onShow" data-after-show="app.reserve_class_group.afterShow">
    <br>
    <div id="div_reserve_class"></div>
    <div id="div_class"></div>    
      
    <div id="errorReserveClass" style="display:none;text-align:center;">
        <h1 style="color:white;" id="h1ErrorReserveClass"></h1>
        <br>
        <button id="btnReserveClassHome" onclick="goHomeButton()" class='km-button km-primary'>Inicio</button>
        <button id="btnReserveClassReload" onclick="app.reserve_class_group.onShow();" class='km-button km-primary'>Recargar</button>
    </div>
</div>