<div id="home" data-role="view" data-layout="mobile-view" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    
    <header data-role="header" style="background-color:#000000;">
        
         <div style="heigth:50px;border-bottom:5px solid #990000;padding-top:10px;padding-bottom:10px;">
             <div style="width:30%;display:inline-block;">
                <div style="width:50px;display:inline-block;">
                    <a style="background-color:#292929;color:white !important;border-color:#292929;" data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></a>
                </div>
                <div style="width:50px;display:inline-block;position:absolute">
                    <div class="icon-menu-count" id="not_count_1">0</div>
                    <a onclick="goMenu('myProfile','Perfil'); goHref('components/inbox/view.html');" style="background-color:#292929;color:white !important;border-color:#292929;" data-role="button"><i class="fa fa-inbox fa-lg" aria-hidden="true"></i></a>
                </div>
             </div>
             <div style="width:65%;display:inline-block;text-align:right;">
                 <img src="resources/header-view.png" style="max-width:70%"/>
             </div>
         </div>

    </header>
    
    <div id="div_home_init">
        
        <div id="homeFinal">
            
            <div style="float:right;text-align:right;padding-top:5px;padding-right:5px;" onclick="qrScanner(qr_url)">
                <img src="resources/qrcode.png" style="width:60%;">
            </div>
                       
            <!-- <div style="text-align:center;padding-top:100%">
                <em><h1 style="color:white;font-size:25px;">1 Sesión de Personal Training</h1></em>
                <button onclick="goMenu('ptEnergy','PT Energy'); goHref('components/training_pt/view.html');" class="km-primary km-button" style="width:80%;">COMPRAR AQUÍ</button>
            </div> -->
              
        </div>    
    </div>    
    
    <footer data-role="footer">
        <div style="background-color:#990000;height:5px;">&nbsp;</div>
        <div data-role="tabstrip" id="navigation-container">
            <!-- goMenu('ptEnergy','PT Energy'); -->
           <a onclick="goHref('components/profile/view.html');" style="background-color:#000000;color:white;width:25%;text-align:center;margin-right:15px;"><img src="resources/icons/pt-gris.png" style="width:50%" /></a>
           <a onclick="goMenu('myRoutine','Mi Rutina'); goHref('components/actual_routine_1/view.html');" style="color:white;width:25%;text-align:center;margin-right:15px;"><img src="resources/icons/rutina-gris.png" style="width:50%" /></a>
           <a onclick="goMenu('evaluations','Evaluaciones'); goHref('components/reserve_eval/view.html');" style="color:white;width:25%;text-align:center;margin-right:15px;"><img src="resources/icons/evaluaciones-gris.png" style="width:50%" /></a>
           <a onclick="goMenu('classGroup','Clases Grupales'); goHref('components/reserve_class_group/view.html');" style="color:white;width:25%;text-align:center;margin-right:15px;"><img src="resources/icons/grupales-gris.png" style="width:45%" /></a>
           <a onclick="goHref('components/invite_ref/view.html');" style="color:white;width:25%;text-align:center;margin-right:15px;"><img src="resources/icons/Invita-gris.png" style="width:45%" /></a>
        </div>
    </footer>
</div>