<div id="inbox_2" data-role="view" data-title="Notificación" data-layout="back-inbox" data-model="app.inbox_2" data-show="app.inbox_2.onShow" data-after-show="app.inbox_2.afterShow">
    <br>
    
    <ul id="div_inbox_2" data-role="listview" data-style="inset"></ul>    
      
    <div id="errorInbox2" style="display:none;text-align:center;">
        <br>
        <h1 style="color:white;" id="h1ErrorInbox2"></h1>
        <br>
        <button id="btnInbox2Home" onclick="goHomeButton()" class='km-button km-primary'>Inicio</button>
        <button id="btnInbox2Reload" onclick="app.inbox_2.onShow();" class='km-button km-primary'>Recargar</button>
    </div>
    
    <script type="text/x-kendo-template" id="template_inbox_2">
        <li> 
            <h2>#:title#</h2>
            <hr>
            <div id="msg_push_1"></div>
            <br>
            <p style="text-align:right;font-size:10px;">#:date# #:time#</p>
        </li>
    </script>
    
    <footer data-role="footer">
        <button id="btnInbox2" style="display:none;width: 100%;border-radius:0px;background-color:#990000;border-color:#990000;" class="km-button km-primary"><span id="spanInbox2">&nbsp;</span></button>
        <div style="background-color:#000000;height:10px;">&nbsp;</div>
        <div style="background-color:#990000;height:5px;">&nbsp;</div>
        <div data-role="tabstrip" id="navigation-container">
           <a onclick="goMenu('ptEnergy','PT Energy'); goHref('components/training_pt/view.html');" style="background-color:#000000;color:white;width:25%;text-align:center;margin-right:15px;"><img src="resources/icons/pt-gris.png" style="width:50%" /></a>
           <a onclick="goMenu('myRoutine','Mi Rutina'); goHref('components/actual_routine_1/view.html');" style="color:white;width:25%;text-align:center;margin-right:15px;"><img src="resources/icons/rutina-gris.png" style="width:50%" /></a>
           <a onclick="goMenu('evaluations','Evaluaciones'); goHref('components/reserve_eval/view.html');" style="color:white;width:25%;text-align:center;margin-right:15px;"><img src="resources/icons/evaluaciones-gris.png" style="width:50%" /></a>
           <a onclick="goMenu('classGroup','Clases Grupales'); goHref('components/reserve_class_group/view.html');" style="color:white;width:25%;text-align:center;margin-right:15px;"><img src="resources/icons/grupales-gris.png" style="width:45%" /></a>
           <a onclick="goHref('components/invite_ref/view.html');" style="color:white;width:25%;text-align:center;margin-right:15px;"><img src="resources/icons/Invita-gris.png" style="width:45%" /></a>
        </div>
    </footer>
</div>
