<div id="history_routine_1" data-role="view" data-title="Rutinas Historicas" data-layout="mainMenu2" data-model="app.history_routine_1" data-show="app.history_routine_1.onShow" data-after-show="app.history_routine_1.afterShow">
    <br>
    <ul id="div_history_routine_1" data-role="listview" data-style="inset"></ul>        
    <div id="errorHistoryRoutine" style="display:none;text-align:center;">
        <h1 style="color:white;" id="h1ErrorHistoryRoutine"></h1>
        <br>
        <button id="btnHistoryRoutineHome" onclick="goHomeButton()" class='km-button km-primary'>Inicio</button>
        <button id="btnHistoryRoutineReload" onclick="app.payments.onShow();" class='km-button km-primary'>Recargar</button>
    </div>
      
    <script type="text/x-kendo-template" id="template_history_routine_1">
        <li onclick="javascript:seeRoutine(#: evalid#,'#: date#')">
            <label style='color:black;'>
              Rutina #: date# <br>
              <em style="font-size:13px;">#: n_machine# Máquinas y/o Ejercicios</em>
              <a><i style="float:center right;color:black;" class="fa fa-chevron-circle-right fa-lg" aria-hidden="true"></i></a>
            </label>
        </li>
    </script>
</div>
