<div id="login" class="loginTemp" data-role="view" data-model="app.login" data-show="app.login.onShow" data-after-show="app.login.afterShow">  
  <header></header>
  <div class="pre-login">
  	<div class="div_login" id='div_signin' style='display:none;'>
      
      <div style="text-align:center">
          <img src="resources/header-login.png" style="width:50%"/> 
      </div>
          
      <h1 style="color:white;text-align:center;">TALCA</h1>
          
      <br>
      <div style="text-align:center;">
         
        <label class="label-login">
          <div class="icon-login">
            <i class="fa fa-user" aria-hidden="true"></i>      
          </div>
          <input  class="input-login placeholderGrey" placeholder="R.U.N" id='userid' value="" type="text" />          
          <a style="color:white;" onclick="$('#userid').val('');"><i class="fa fa-times" aria-hidden="true"></i></a>
        </label>
                     
        <label class="label-login">
          <div class="icon-login">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </div>
          <input class="input-login placeholderGrey" placeholder="Contraseña" id='password' value="" type="password" />
          <a style="color:white;" onclick="$('#password').val('');"><i class="fa fa-times" aria-hidden="true"></i></a>
        </label>
        
        <label class="label-login">
          <button class="input-login" type="button" onclick="login()">Iniciar sesión</button>    
        </label>
        
        <br>
        <a data-role="button" style="font-size:15px;color:white;background-color:transparent;border-color:transparent;" href="components/new_member/view.html"><b>¿Eres nuevo? ¡Registrate!</b></a>
          
        <br>
        <a data-role="button" style="font-size:15px;color:white;background-color:transparent;border-color:transparent;" href="components/recovery_password/view.html"><b>Solicitar o Recuperar Contraseña</b></a>
      </div>
    </div>            
  </div>      
</div>
