<div id="reserve_eval" data-role="view" data-title="Reservar Evaluación" data-layout="mainMenu2" data-model="app.reserve_eval" data-show="app.reserve_eval.onShow" data-after-show="app.reserve_eval.afterShow">
    <br>
    <div id="div_reserve_eval"></div>
    <div id="div_eval"></div>      
    
    <div id="errorReserveEval" style="display:none;text-align:center;">
        <h1 style="color:white;" id="h1ErrorReserveEval"></h1>
        <br>
        <button id="btnReserveEvalHome" onclick="goHomeButton()" class='km-button km-primary'>Inicio</button>
        <button id="btnReserveEvalReload" onclick="app.reserve_eval.onShow();" class='km-button km-primary'>Recargar</button>
    </div>
</div>