<div id="checkPinPass" data-role="view" data-layout="none" data-model="app.checkPinPass" data-show="app.checkPinPass.onShow" data-after-show="app.checkPinPass.afterShow">
  
  <div style="text-align:center;padding-top:50%">
      <h2 style="color:white;">Ingresa tu PIN para continuar</h2>
      <input id="passwordPin2" type="tel" maxlength="4" style="font-size:30px;text-align:center;width:200px;height:50px;-webkit-text-security: disc;" onkeyup="checkPinView(this.value)"/>
      <br><br>
      <button class="km-button km-primary" id="cancelBtnPin">Cancelar</button>
  </div>
    
</div>