<div id="history_routine_2" data-role="view" data-title="&nbsp" data-layout="back-historyRoutine1" data-model="app.history_routine_2" data-show="app.history_routine_2.onShow" data-after-show="app.history_routine_2.afterShow">    
    <br>
    <div id="div_title_hr2"></div>
    <ul id="div_history_routine_2" data-role="listview" data-style="inset"></ul>    
    <div id="div_comment_hr2"></div>
            
    <script type="text/x-kendo-template" id="template_history_routine_2">
        <li onclick="seeMachine2(#: routineid#,'#: name#',#: count#)">
            <label style="padding-bottom:15px;color:black;">
              Máquina y/o Ejercicio #: count# 
              <i style="float:center right;color:black;" class="fa fa-chevron-circle-right fa-lg" aria-hidden="true"></i>
            </label>
           <br><img style="width:60px;height:90px;display:inline-block;" src="#: img#">
            #: name#    
        </li>
    </script>
</div>
