<div id="inbox" data-role="view" data-title="Notificaciones" data-layout="mainMenu2" data-model="app.inbox" data-show="app.inbox.onShow" data-after-show="app.inbox.afterShow">
    <br>
    
    <ul id="div_inbox" data-role="listview" data-style="inset"></ul>    
      
    <div id="errorInbox" style="display:none;text-align:center;">
        <h1 style="color:white;" id="h1ErrorInbox"></h1>
        <br>
        <button id="btnInboxHome" onclick="goHomeButton()" class='km-button km-primary'>Inicio</button>
        <button id="btnInboxReload" onclick="app.inbox.onShow();" class='km-button km-primary'>Recargar</button>
    </div>
    
    <script type="text/x-kendo-template" id="template_inbox">
        <li style="padding: 10px 0px 10px 0px;"> 
            <table style="width:100%">
                <tr>
                    <td align="middle" style="width:20%;" onclick="deleteNot(#: id#)"><i class="fa fa-trash fa-2x"></i></td>
                    <td style="width:80%;padding-right:50px;" onclick="seeNot(#: id#)">
                        # if (status==1) { #
                            <h4 style="color:\#BDBDBD">#: title#</h4>
                            <div style="text-align:right;font-size:10px;color:\#BDBDBD">#: date#</div>
                        # } else { #
                            <b><h4>#: title#</h4></b>
                            <div style="text-align:right;font-size:10px;">#: date#</div>
                        # } #
                    </td>
                </tr>
            </table>
        </li>
    </script>
</div>
