<div id="newmember" data-title="Registrar" data-role="view" data-layout="back-login" data-model="app.newmember" data-show="app.newmember.onShow" data-after-show="app.newmember.afterShow">        
    <div style="display:none;" id="div_newmember" >  
        <ul id="form_newmember" data-role="listview" data-style="inset">
            <li>
                <label class="km-label-above km-required" style="color:white;">
                    R.U.N
                   <input id="new_userid" value="" type="text" style='color:white;'/>
                </label>
            </li>
            <li>
                <label class="km-label-above km-required" style="color:white;">
                    Nombre
                   <input id="new_name" value="" type="text" style='color:white;'/>
                </label>
            </li>
            <li>
                <label class="km-label-above km-required" style="color:white;">
                    Apellido
                   <input id="new_lastn" value="" type="text" style='color:white;'/>
                </label>
            </li>
            <li>
                <label class="km-label-above km-required" style="color:white;">
                    Correo Electrónico
                   <input id="new_email" value="" type="text" style='color:white;text-transform: lowercase;'/>
                </label>
            </li>
            <li>
                <label class="km-label-above km-required" style="color:white;">
                    Teléfono Móvil
                   <input id="new_cellphone" value="" type="tel" style='color:white;'/>
                </label>
            </li>
            <li>
                <label class="km-label-above km-required" style="color:white;">
                    Contraseña
                   <input id="new_pass_1" value="" type="password" style='color:white;'/>
                </label>
            </li>
            <li>
                <label class="km-label-above km-required" style="color:white;">
                    Repita Contraseña
                   <input id="new_pass_2" value="" type="password" style='color:white;'/>
                </label>
            </li>
        </ul>
        <b style="font-size:12px;color:white;float:right;"><em>Mínimo 4 caracteres</em></b>
        <br><br>
        <div style="text-align:center;">
            <input onclick="registerMember();" style="width:50%;" type="button" class="km-button km-primary" value="Registrar"/>
        </div>   
  	</div>  
</div>