<div id="actual_routine_2" data-role="view" data-title="&nbsp;" data-layout="back-actualRoutine" data-model="app.actual_routine_2" data-show="app.actual_routine_2.onShow" data-after-show="app.actual_routine_2.afterShow">
    <br>
    <div id="div_image_ar2"></div>
    <br>
    <div id="div_info_ar2"></div>    
</div>