<div id="burn_pt" data-role="view" data-title="QR Quema PT" data-layout="mainMenu2" data-model="app.burn_pt" data-show="app.burn_pt.onShow" data-after-show="app.burn_pt.afterShow">
    <br>
    <div id="div_burn_pt">
        <ul id="qr_burn_pt" data-role="listview" data-style="inset"></ul>      
    </div>
      
    <div id="errorBurnPT" style="display:none;text-align:center;">
        <h1 style="color:white;" id="h1ErrorBurnPT"></h1>
        <br>
        <button id="btnBurnPTHome" onclick="goHomeButton()" class='km-button km-primary'>Inicio</button>
        <button id="btnBurnPTReload" onclick="app.burn_pt.onShow();" class='km-button km-primary'>Recargar</button>
    </div>  
    
    <div id="content_modal_burn_pt"></div>
        
    <script type="text/x-kendo-template" id="template_burn_pt">
        <li>
            # if(type=='A') { #  
              <table style="font-size:13px;border-color:none;" class="table table-condensed">
                  <tr>
                      <td style="border-color:white;">Club</td>
                      <td style="border-color:white;">:</td>
                      <td style="border-color:white;">#:club#</td>
                  </tr>
                  <tr>      
                      <td style="border-color:white;">Profesor</td>
                      <td style="border-color:white;">:</td>
                      <td style="border-color:white;">#:ptname#</td>
                  </tr>
                  <tr>      
                      <td style="border-color:white;">Bloque</td>
                      <td style="border-color:white;">:</td>
                      <td style="border-color:white;">#:date#<br>#:time#</td>
                  </tr>
              </table>        
                
              <div style="text-align:center;">
                # if(future==1) { #
                    <p>¡SESIÓN AÚN NO PUEDE SER QUEMADA!</p>
                # } else { #
                    <button onclick="showQRPT(#:ptid#,'#:type#','#:uniqid#')" class="km-button km-primary" style="font-size:15px;"><i class="fa fa-qrcode fa-lg" aria-hidden="true"></i> Quemar Sesión</button>
                # } #
              </div>
            # } else { #
              <table style="font-size:13px;border-color:none;" class="table table-condensed">
                  <tr>
                      <td style="border-color:white;">Club</td>
                      <td style="border-color:white;">:</td>
                      <td style="border-color:white;">#:club#</td>
                  </tr>
                  <tr>      
                      <td style="border-color:white;">Contrato PT</td>
                      <td style="border-color:white;">:</td>
                      <td style="border-color:white;">#:ptname#</td>
                  </tr>
                  <tr>      
                      <td style="border-color:white;">Sesiones Disponibles</td>
                      <td style="border-color:white;">:</td>
                      <td style="border-color:white;">#:ss_disp#</td>
                  </tr>
                
                  <tr>      
                      <td style="border-color:white;">Fecha Vencimiento</td>
                      <td style="border-color:white;">:</td>
                      <td style="border-color:white;">#:expired#</td>
                  </tr>
              </table>        
                
              <div style="text-align:center;">
                  <button onclick="showQRPT(#:ptid#,'#:type#','#:uniqid#')" class="km-button km-primary" style="font-size:15px;"><i class="fa fa-qrcode fa-lg" aria-hidden="true"></i> Quemar Sesión</button>
              </div>
            # } #
        </li>
    </script>
</div>