<div id="actual_routine_1" data-role="view" data-title="Rutina Actual" data-layout="mainMenu2" data-model="app.actual_routine_1" data-show="app.actual_routine_1.onShow" data-after-show="app.actual_routine_1.afterShow">
    <br>    
    <div id="div_title_ar1"></div>
    <ul id="div_actual_routine_1" data-role="listview" data-style="inset"></ul>    
    <div id="div_comment_ar1"></div>
    
    <div id="errorActualRoutine" style="display:none;text-align:center;">
        <h1 style="color:white;" id="h1ErrorActualRoutine"></h1>
        <br>
        <button id="btnActualRoutineHome" onclick="goHomeButton()" class='km-button km-primary'>Inicio</button>
        <button id="btnActualRoutineReload" onclick="app.actual_routine_1.onShow();" class='km-button km-primary'>Recargar</button>
    </div>
    
    <script type="text/x-kendo-template" id="template_actual_routine_1">
        <li onclick="seeMachine(#: routineid#,'#: name#',#: count#)">
            <label style="padding-bottom:15px;color:black;">
              Máquina y/o Ejercicio #: count# 
              <i style="float:center right;color:black;" class="fa fa-chevron-circle-right fa-lg" aria-hidden="true"></i>
            </label>
           <br><img style="width:60px;height:90px;display:inline-block;" src="#: img#">
            #: name#    
        </li>
    </script>
</div>
