<div id="savePinPass" data-role="view" data-layout="mainMenuPin" data-model="app.savePinPass" data-show="app.savePinPass.onShow" data-after-show="app.savePinPass.afterShow">
  
  <div style="text-align:center;padding-top:25%;">
      <br><br>
      <input id="passwordPin" pattern="\d*" type="tel" maxlength="4" style="font-size:30px;text-align:center;width:200px;height:50px;-webkit-text-security: disc;" onkeyup="savePin(this.value)"/>
      <br><br>
      <p style="color:white;">Este PIN de 4 dígitos será solicitado cada<br>vez que uses la aplicación para pagar.</p>
  </div>
    
</div>