<div id="actual_reserve_eval" data-role="view" data-title="Mis Reservas Evaluación" data-layout="mainMenu2" data-model="app.actual_reserve_eval" data-show="app.actual_reserve_eval.onShow" data-after-show="app.actual_reserve_eval.afterShow">
    <div id="div_myReserve"></div>    
      
    <div id="errorActualReserveEval" style="display:none;text-align:center;">
        <br>
        <h1 style="color:white;" id="h1ErrorActualReserveEval"></h1>
        <br>
        <button id="btnActualReserveEvalHome" onclick="goHomeButton()" class='km-button km-primary'>Inicio</button>
        <button id="btnActualReserveEvalReload" onclick="app.actual_reserve_eval.onShow();" class='km-button km-primary'>Recargar</button>
    </div>
</div>
