<div id="changepassword" data-role="view" data-title="Cambiar Contraseña" data-layout="mainMenu2" data-model="app.changepassword" data-show="app.changepassword.onShow" data-after-show="app.changepassword.afterShow">  
     
    <h4 id="msg_force_change" style="color:white;text-align:center;display:none;">Usted tiene una contraseña temporal, es recomendable cambiar la contraseña otorgada por sistema.</h4>
    <ul id="form_change_password" data-role="listview" data-style="inset">
        <li>
            <label class="km-label-above km-required" style="color:white;">
                Ingrese Contraseña Actual
               <input id="actual_password" value="" type="password" style='color:white;'/>
            </label>
        </li>
        <li>
            <label class="km-label-above km-required" style="color:white;">
                Ingrese Nueva Contraseña
               <input id="new_password_1" value="" type="password" style='color:white;'/>
            </label>
        </li>
        <li>
            <label class="km-label-above km-required" style="color:white;">
                Repita Nueva Contraseña
               <input id="new_password_2" value="" type="password" style='color:white;'/>
            </label>
        </li>
    </ul>
    <br>
    <b style="color:white;float:right;font-size:12px;"><em>Mínimo 4 caracteres.</em></b>
    <br><br>
    <div style="text-align:center;">
        <input onclick="changePassword();" type="button" class="km-button km-primary" value="Cambiar Contraseña"/>
    </div>
</div>