<div id="block_pt" data-role="view" data-title="Disponibilidad PT" data-layout="mainMenu2" data-model="app.block_pt" data-show="app.block_pt.onShow" data-after-show="app.block_pt.afterShow">           
    <div id="div_block_pt" style="display:none;">
        <form id="form-blockpt" onsubmit="return false">
            <ul id="formBlockPT" data-role="listview" data-style="inset">
                <li id="li_clubid_blockpt">
                    <label class="km-label-above" style='color:white;'>
                        Club <img src="resources/icon_arrow_down.png" style="width:5%">    
                        <input id="clubid_blockpt" value="" style='color:white;' onchange="showDay();"/>
                    </label>
                </li>
                <li>
                    <label style='color:white;font-size:12px;'>
                        Disponibilidad
                        <br>
                        <input onclick="showDay()" type="radio" name="day" id="day1" class="km-radio" value="1" checked="checked">
                        <label class="km-radio-label" for="day1" style="color:white;display:inline-block;">Hoy</label>    
                    
                        <input onclick="showDay()" type="radio" name="day" id="day2" class="km-radio" value="2" style="display:inline-block;">
                        <label class="km-radio-label" for="day2" style="color:white;display:inline-block;">Mañana</label>
                    </label>
                </li>
            </ul>
        </form>
    </div>
    
    <script type="text/x-kendo-template" id="template_dates_block">
        <li style="display:none;" id="div_block_today_1_#: clubid#">
            <label class="km-label-above" style="color:white;">Hora Inicio <img src="resources/icon_arrow_down.png" style="width:5%"> 
            <input id="date_start_today_#: clubid#" style="color:white !important;"></label>
        </li>
        <li style="display:none;" id="div_block_today_2_#: clubid#">
            <label class="km-label-above" style="color:white;">Hora Término <img src="resources/icon_arrow_down.png" style="width:5%"> 
            <input id="date_end_today_#: clubid#" style="color:white;"></label>
        </li>
        <li  style="display:none;" id="div_block_tomorrow_1_#: clubid#">
            <label class="km-label-above" style="color:white;">Hora Inicio <img src="resources/icon_arrow_down.png" style="width:5%"> 
            <input id="date_start_tomorrow_#: clubid#" value="" style="color:white;"/></label>
        <li style="display:none;" id="div_block_tomorrow_2_#: clubid#">
            <label class="km-label-above" style="color:white;">Hora Término <img src="resources/icon_arrow_down.png" style="width:5%"> 
            <input id="date_end_tomorrow_#: clubid#" value="" style="color:white;"/></label>
        </li>
        <li id="div_block_button_#: clubid#">
            <button class="km-primary km-button" onclick="activatePT()">Activar</button>
        </li>
    </script>
    
    <div id="errorBlockPT" style="display:none;text-align:center;">
        <br>
        <h1 style="color:white;" id="h1ErrorBlockPT"></h1>
        <br>
        <button id="btnBlockPTHome" onclick="goHomeButton()" class='km-button km-primary'>Inicio</button>
        <button id="btnBlockPTReload" onclick="app.block_pt.onShow();" class='km-button km-primary'>Recargar</button>
    </div>
</div>