<div id="webpay" data-role="view" data-title="Billetera" data-layout="mainMenu2" data-model="app.webpay" data-show="app.webpay.onShow" data-after-show="app.webpay.afterShow">  
    <br>
    
    <div id="div_cards">
        <ul id="ul_cards" data-role="listview" data-style="inset" style="background-color:transparent;border-color:transparent;color:white;padding:0px;"></ul>    
    </div>
    
    <div id="errorWebpay" style="display:none;text-align:center;">
        <h1 style="color:white;" id="h1ErrorWebpay"></h1>
        <br>
        <button id="btnWebpayHome" onclick="goHomeButton()" class='km-button km-primary'>Inicio</button>
        <button id="btnWebpayReload" onclick="app.webpay.onShow();" class='km-button km-primary'>Recargar</button>
    </div>  
  
    <script type="text/x-kendo-template" id="template_ul_cards">
        <li style="list-style:none;padding:10px 0px 15px 10px;border:none;border-bottom: 1px solid grey;">
            <div style="width:10%;display:inline-block;">
                # if(principal==1) { #
                    <i class="fa fa-star fa-lg" aria-hidden="true" style="color:\#ffaa18"></i>
                # } else { #
                    <div onclick="setCard(#: cardid#)">
                        <i class="fa fa-star-o fa-lg" aria-hidden="true" style="color:white;"></i>
                    </div>
                    
                # } #
            </div>
            <div style="width:20%;display:inline-block;">
                <img style="max-width:100%;" src="#:photo#" />
            </div>
            <div style="width:50%;font-size:11px;display:inline-block;">
                <h3 style="color:white;">XXXX XXXX XXXX #:last4#</h3>
            </div>
            <div style="width:10%;display:inline-block;text-align:right;" onclick="deleteCard(#:cardid#)">
                <i class="fa fa-trash fa-lg" aria-hidden="true" style="color:white;"></i>
            </div>
        </li>
    </script>
    
    <footer data-role="footer">
        <button onclick="addCreditCard()" class="btn-transbank"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
        <div style="background-color:#990000;height:5px;">&nbsp;</div>
        <div data-role="tabstrip" id="navigation-container">
           <a onclick="goMenu('ptEnergy','PT Energy'); goHref('components/training_pt/view.html');" style="background-color:#000000;color:white;width:25%;text-align:center;margin-right:15px;"><img src="resources/icons/pt-gris.png" style="width:50%" /></a>
           <a onclick="goMenu('myRoutine','Mi Rutina'); goHref('components/actual_routine_1/view.html');" style="color:white;width:25%;text-align:center;margin-right:15px;"><img src="resources/icons/rutina-gris.png" style="width:50%" /></a>
           <a onclick="goMenu('evaluations','Evaluaciones'); goHref('components/reserve_eval/view.html');" style="color:white;width:25%;text-align:center;margin-right:15px;"><img src="resources/icons/evaluaciones-gris.png" style="width:50%" /></a>
           <a onclick="goMenu('classGroup','Clases Grupales'); goHref('components/reserve_class_group/view.html');" style="color:white;width:25%;text-align:center;margin-right:15px;"><img src="resources/icons/grupales-gris.png" style="width:45%" /></a>
           <a onclick="goHref('components/invite_ref/view.html');" style="color:white;width:25%;text-align:center;margin-right:15px;"><img src="resources/icons/Invita-gris.png" style="width:45%" /></a>
        </div>
    </footer>
    
</div>