<div id="service_survey" data-role="view" data-layout="mainMenu-Survey" data-model="app.service_survey" data-show="app.service_survey.onShow" data-after-show="app.service_survey.afterShow">
    
    <form id="formSurvey" onsubmit="return false;">
    <div class="container" id="surveyDIV">
        <!-- intro question -->
        <div id="step1" style="display:none;">
            <br>
            <h2 style="color:white;">En "Gimnasios Energy" estamos permanentemente buscando mejorar la experiencia de nuestros socios.</h2>
            <p style="color:white;font-size:14px;">Para ayudarnos a tomar decisiones que beneficien a todos nuestros clientes, apreciaríamos mucho tus comentarios. La siguiente encuesta tomara solo unos pocos minutos y te aseguramos que todas las respuestas serán analizadas y gestionadas con mucha seriedad para mejorar nuestro servicio... ¡Muchas Gracias!</p>
            <ul id="navigation-container" data-role="listview" data-style="inset">
                <li id="li_survey" style="border:none;">
                    <label class="km-label-above" style='color:white;'>
                        Elige el Club a Evaluar <img src="resources/icon_arrow_down.png" style="width:5%">
                        <input id="clubid_ss" value="-" style='color:white;'/>
                    </label>
                </li>
            </ul>
            <br>
            <div style="text-align:center;">
                <button class='km-button km-primary' onclick="step2()">Siguiente</button>
            </div>
        </div>    
        
        <!-- question 1 -->
        <div id="step2" style="display:none;padding-top:25%;text-align:center;">
            <br>
            <h1 style="color:white;">Orientación al servicio excelente de recepción y ejecutivos de venta</h1>
            <br>
            <i id="question1_1" onclick="setStar(1,'question1')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question1_2" onclick="setStar(2,'question1')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question1_3" onclick="setStar(3,'question1')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question1_4" onclick="setStar(4,'question1')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question1_5" onclick="setStar(5,'question1')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <input  type="hidden" name="question1" id="question1" value="0">
            <br><br>
            <button class='km-button km-primary' onclick="step1()">Atras</button>
            <button class='km-button km-primary' onclick="step3()">Siguiente</button>
        </div>
        
        <!-- question 2 -->
        <div id="step3" style="display:none;padding-top:25%;text-align:center;">
            <br>
            <h1 style="color:white;">Limpieza general del club</h1>
            <br>
            <i id="question2_1" onclick="setStar(1,'question2')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question2_2" onclick="setStar(2,'question2')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question2_3" onclick="setStar(3,'question2')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question2_4" onclick="setStar(4,'question2')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question2_5" onclick="setStar(5,'question2')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <input  type="hidden" name="question2" id="question2" value="0">
            <br><br>
            <button class='km-button km-primary' onclick="step2()">Atras</button>
            <button class='km-button km-primary' onclick="step4()">Siguiente</button>
        </div>
        
        <!-- question 3 -->
        <div id="step4" style="display:none;padding-top:25%;text-align:center;">
            <br>
            <h1 style="color:white;">Entrenadores de planta</h1>
            <br>
            <i id="question3_1" onclick="setStar(1,'question3')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question3_2" onclick="setStar(2,'question3')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question3_3" onclick="setStar(3,'question3')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question3_4" onclick="setStar(4,'question3')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question3_5" onclick="setStar(5,'question3')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <input  type="hidden" name="question3" id="question3" value="0">
            <br><br>
            <button class='km-button km-primary' onclick="step3()">Atras</button>
            <button class='km-button km-primary' onclick="step5()">Siguiente</button>
        </div>
        
        <!-- question 4 -->
        <div id="step5" style="display:none;padding-top:25%;text-align:center;">
            <br>
            <h1 style="color:white;">Personal trainers</h1>
            <br>
            <i id="question4_1" onclick="setStar(1,'question4')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question4_2" onclick="setStar(2,'question4')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question4_3" onclick="setStar(3,'question4')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question4_4" onclick="setStar(4,'question4')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question4_5" onclick="setStar(5,'question4')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <input  type="hidden" name="question4" id="question4" value="0">
            <br><br>
            <button class='km-button km-primary' onclick="step4()">Atras</button>
            <button class='km-button km-primary' onclick="step6()">Siguiente</button>
        </div>
        
        <!-- question 5 -->
        <div id="step6" style="display:none;padding-top:25%;text-align:center;">
            <br>
            <h1 style="color:white;">Clases grupales</h1>
            <br>
            <i id="question5_1" onclick="setStar(1,'question5')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question5_2" onclick="setStar(2,'question5')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question5_3" onclick="setStar(3,'question5')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question5_4" onclick="setStar(4,'question5')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question5_5" onclick="setStar(5,'question5')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <input  type="hidden" name="question5" id="question5" value="0">
            <br><br>
            <button class='km-button km-primary' onclick="step5()">Atras</button>
            <button class='km-button km-primary' onclick="step7()">Siguiente</button>
        </div>
                
        <!-- question 6 -->
        <div id="step7" style="display:none;padding-top:25%;text-align:center;">
            <br>
            <h1 style="color:white;">Ambiente y música de su club</h1>
            <br>
            <i id="question6_1" onclick="setStar(1,'question6')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question6_2" onclick="setStar(2,'question6')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question6_3" onclick="setStar(3,'question6')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question6_4" onclick="setStar(4,'question6')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question6_5" onclick="setStar(5,'question6')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <input  type="hidden" name="question6" id="question6" value="0">
            <br><br>
            <button class='km-button km-primary' onclick="step6()">Atras</button>
            <button class='km-button km-primary' onclick="step8()">Siguiente</button>
        </div>
        
        <!-- question 7 -->
        <div id="step8" style="display:none;padding-top:25%;text-align:center;">
            <br>
            <h1 style="color:white;">Limpieza camarines y baños</h1>
            <br>
            <i id="question7_1" onclick="setStar(1,'question7')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question7_2" onclick="setStar(2,'question7')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question7_3" onclick="setStar(3,'question7')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question7_4" onclick="setStar(4,'question7')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question7_5" onclick="setStar(5,'question7')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <input  type="hidden" name="question7" id="question7" value="0">
            <br><br>
            <button class='km-button km-primary' onclick="step7()">Atras</button>
            <button class='km-button km-primary' onclick="step9()">Siguiente</button>
        </div>
        
        <!-- question 8 -->
        <div id="step9" style="display:none;padding-top:25%;text-align:center;">
            <br>
            <h1 style="color:white;">Estado de las máquinas</h1>
            <br>
            <i id="question8_1" onclick="setStar(1,'question8')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question8_2" onclick="setStar(2,'question8')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question8_3" onclick="setStar(3,'question8')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question8_4" onclick="setStar(4,'question8')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question8_5" onclick="setStar(5,'question8')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <input  type="hidden" name="question8" id="question8" value="0">
            <br><br>
            <button class='km-button km-primary' onclick="step8()">Atras</button>
            <button class='km-button km-primary' onclick="step10()">Siguiente</button>
        </div>        
        
        <!-- question 9 -->
        <div id="step10" style="display:none;padding-top:25%;text-align:center;">
            <br>
            <h1 style="color:white;">Aire acondicionado</h1>
            <br>
            <i id="question9_1" onclick="setStar(1,'question9')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question9_2" onclick="setStar(2,'question9')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question9_3" onclick="setStar(3,'question9')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question9_4" onclick="setStar(4,'question9')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question9_5" onclick="setStar(5,'question9')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <input  type="hidden" name="question9" id="question9" value="0">
            <br><br>
            <button class='km-button km-primary' onclick="step9()">Atras</button>
            <button class='km-button km-primary' onclick="step11()">Siguiente</button>
        </div>
        
        <!-- question 10 -->
        <div id="step11" style="display:none;padding-top:25%;text-align:center;">
            <br>
            <h1 style="color:white;">Agua caliente de duchas</h1>
            <br>
            <i id="question10_1" onclick="setStar(1,'question10')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question10_2" onclick="setStar(2,'question10')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question10_3" onclick="setStar(3,'question10')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question10_4" onclick="setStar(4,'question10')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <i id="question10_5" onclick="setStar(5,'question10')" class="fa fa-star fa-3x" style="color:white;"></i> 
            <input  type="hidden" name="question10" id="question10" value="0">
            <br><br>
            <button class='km-button km-primary' onclick="step10()">Atras</button>
            <button class='km-button km-primary' onclick="step12()">Siguiente</button>
        </div>
        
        <!-- question 11 & 12 & 13 -->
        <div id="step12" style="display:none;">
            <br>
            <!-- 11 -->
            <div>
                <h3 style="color:white;padding-bottom:10px;">¿Estoy motivado con mi programa de entrenamiento?</h3>
                
                <ul id="navigation-container" data-role="listview" data-style="inset" style="padding-top:0px;margin-top:0px;">
                    <li style="border:none;padding-top:0px;margin-top:0px;">
                        <label class="km-label-above" style='color:white;'>
                            &nbsp;<input id="question11" value="-" style='color:white;'/>
                        </label>
                    </li>
                </ul>                  
            </div>
            
            <!-- 12 -->
            <br>
            <div>
                <h3 style="color:white;padding-bottom:10px;">¿Conoces al club manager?</h3>
                
                <ul id="navigation-container" data-role="listview" data-style="inset" style="padding-top:0px;margin-top:0px;">
                    <li style="border:none;padding-top:0px;margin-top:0px;">
                        <label class="km-label-above" style='color:white;'>
                            &nbsp;<input id="question12" value="-" style='color:white;'/>
                        </label>
                    </li>
                </ul>                  
            </div>
            
            <!-- 13 -->
            <br>
            <div>
                <h3 style="color:white;padding-bottom:10px;">¿Recomendarías el club?</h3>
                
                <ul id="navigation-container" data-role="listview" data-style="inset" style="padding-top:0px;margin-top:0px;">
                    <li style="border:none;padding-top:0px;margin-top:0px;">
                        <label class="km-label-above" style='color:white;'>
                            &nbsp;<input id="question13" value="-" style='color:white;'/>
                        </label>
                    </li>
                </ul>                  
            </div>
            
            <br><br>
            <div style="text-align:center;">
                <button class='km-button km-primary' onclick="step11()">Atras</button>
                <button class='km-button km-primary' onclick="finishSurvey()">Terminar</button>
            </div>
        </div>
    </div>
    </form>
</div>