<div id="invite_vip" data-role="view" data-title="Invita un Amigo" data-layout="mainMenu2"  data-model="app.invite_ref" data-show="app.invite_ref.onShow" data-after-show="app.invite_ref.afterShow">
    <br>
    <div id='myinvite'> 
        <div id="total_invite" style="float:right;display:none;color:white;">&nbsp;</div>
        <br>  
        <form id="form-invite-ref" onsubmit="return false">
            <ul id="navigation-container" data-role="listview" data-style="inset">
                <li id="li_club">
                    <label class="km-label-above km-required" style='color:white;'>
                        Club <img src="resources/icon_arrow_down.png" style="width:5%">
                        <input id="club_invite" name="club_invite" value="" style='color:white;'/>
                    </label>
                </li>
                <li id="li_days">
                    <label class="km-label-above km-required" style='color:white;'>
                        Días Freepass <img src="resources/icon_arrow_down.png" style="width:5%">
                        <input id="days_freepass_granted" name="days_freepass_granted" value="" style='color:white;'/>
                    </label>
                </li>
                <li>
                    <label class="km-label-above"  style='color:white;'>
                        R.U.N
                       <input id="userid_invite" name="userid_invite" type="text" value="" style='color:white;'/>
                    </label>
                </li>
                <li>
                    <label class="km-label-above km-required"  style='color:white;'>
                        Nombre
                       <input id="name_invite" name="name_invite" type="text" value="" style='color:white;'/>
                    </label>
                </li>
                <li>
                    <label class="km-label-above km-required"  style='color:white;'>
                        Apellido
                       <input id="lastn_invite" name="lastn_invite" type="text" value="" style='color:white;'/>
                    </label>
                </li>
                <li>
                    <label class="km-label-above km-required"  style='color:white;'>
                        Correo Electrónico
                        <input name="email_invite" id="email_invite" type="text" value=""  style='color:white;'/>
                    </label>
                </li>
                <li>
                    <label class="km-label-above km-required"  style='color:white;'>
                        Teléfono Móvil 
                        <input name="cellphone_invite" id="cellphone_invite" type="tel" value="" maxlength="9" style='color:white;'/>
                    </label>
                </li>
            </ul>
        </form>
        <br>
        <div align="center">
            <button onclick='sendInvite()' class='km-button km-primary' id='new_user_vip'>Enviar Invitación</button>    
        </div>
          
        <!-- modal select -->
        <div id="modalViewInvite" style="display:none;text-align:center;">
            <ul id="ul_invite_options" data-role="listview" data-style="inset" style="font-size:9px;"></ul>
            <br>
            <button onclick='sendInvite2()' class='km-button km-primary' style="width:100%;" id='re_send_inv_vip'><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Enviar Invitación</button>    
            <button onclick='cancelModal()' class='km-button km-primary' style="width:100%;background-color:#ccc;border-color:#ccc;" id='cancel_modal'><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>    
        </div>
         <script type="text/x-kendo-template" id="template_invite_options">
            <li>
                <input type="radio" name="userid_temp" id="#: userid#" value="#: userid#" class="km-radio">
                <label class="km-radio-label" for="#: userid#">#: name#</label>
            </li>
        </script>
    </div>
    
    <div id="errorInvite" style="display:none;text-align:center;">
        <h1 style="color:white;" id="h1ErrorInvite"></h1>
        <br>
        <button id="btnInviteHome" onclick="goHomeButton()" class='km-button km-primary'>Inicio</button>
        <button id="btnInviteReload" onclick="app.invite_ref.onShow();" class='km-button km-primary'>Recargar</button>
    </div>
</div>