<div id="sales_2" data-role="view" data-title="Renueva tu Plan" data-layout="mainMenu2" data-model="app.sales_2" data-show="app.sales_2.onShow" data-after-show="app.sales_2.afterShow">

    <br>
    
    <div id="div_sales_2">
        
        <h2 style="color:white;padding-left:10px;">Fecha Inicio Plan: <span id="date_start_span"></span></h2>
        
        <ul id="div_prod_sales" style="background-color:transparent;border-color:transparent;color:white;padding:0px;"></ul>
        
        <input id="planid" value="0" type="hidden" />
        <input id="name_plan" value="0" type="hidden" />
        <input id="money_plan" value="0" type="hidden" />
        <input id="money_text_plan" value="0" type="hidden" />
        <input id="time_plan" value="0" type="hidden" />
        
        <input id="date_start_plan" value="0" type="hidden" />
        <input id="clubid_plan" value="0" type="hidden" />
        <input id="type_plan" value="0" type="hidden" />
        
    </div>
    
    <script type="text/x-kendo-template" id="template_sales_2">
        
        # if(count==0) { #
            <li style="list-style:none;padding:10px 0px 10px 10px;border-bottom: 1px solid grey;">
                <div class="row" style="padding:0px;font-size:12px;">
                    <div class="col-xs-6 col-sm-6">
                        PLAN
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        DURACIÓN
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        PRECIO
                    </div>
                </div>
            </li>    
          
        # } #
        
        <li id="plan_#:id#" style="list-style:none;padding:10px 0px 10px 10px;border-bottom: 1px solid grey;" onclick="selectPlan('#:id#','#:name#','#:money#','#:money_text#','#:time#')">
            <div class="row" style="padding:0px;font-size:12px;">
                <div class="col-xs-6 col-sm-6">
                    #:name#
                </div>
                <div class="col-xs-3 col-sm-3">
                    #:time#
                </div>
                <div class="col-xs-3 col-sm-3">
                    #:money_text#
                </div>
            </div>
        </li>
        
    </script>    
    
    <div id="errorSales_2" style="display:none;text-align:center;">
        <h1 style="color:white;" id="h1ErrorSales_2"></h1>
        <br>
        <button id="btnSales_2Home" onclick="goHomeButton()" class='km-button km-primary'>Inicio</button>
        <button id="btnSales_2Reload" onclick="app.sales_2.onShow();" class='km-button km-primary'>Recargar</button>
    </div>
       
    <footer data-role="footer">
        <button id="btnBuyPlan" style="width: 100%;border-radius:0px;background-color:#292929;border-color:#292929;" class="km-button km-primary">COMPRAR</button>
        <div style="background-color:#000000;height:10px;">&nbsp;</div>
        <div style="background-color:#990000;height:5px;">&nbsp;</div>
        <div data-role="tabstrip" id="navigation-container">
           <a onclick="goMenu('ptEnergy','PT Energy'); goHref('components/training_pt/view.html');" style="background-color:#000000;color:white;width:25%;text-align:center;margin-right:15px;"><img src="resources/icons/pt-gris.png" style="width:50%" /></a>
           <a onclick="goMenu('myRoutine','Mi Rutina'); goHref('components/actual_routine_1/view.html');" style="color:white;width:25%;text-align:center;margin-right:15px;"><img src="resources/icons/rutina-gris.png" style="width:50%" /></a>
           <a onclick="goMenu('evaluations','Evaluaciones'); goHref('components/reserve_eval/view.html');" style="color:white;width:25%;text-align:center;margin-right:15px;"><img src="resources/icons/evaluaciones-gris.png" style="width:50%" /></a>
           <a onclick="goMenu('classGroup','Clases Grupales'); goHref('components/reserve_class_group/view.html');" style="color:white;width:25%;text-align:center;margin-right:15px;"><img src="resources/icons/grupales-gris.png" style="width:45%" /></a>
           <a onclick="goHref('components/invite_ref/view.html');" style="color:white;width:25%;text-align:center;margin-right:15px;"><img src="resources/icons/Invita-gris.png" style="width:45%" /></a>
        </div>
    </footer>
    
</div>
