<div id="payments" data-role="view" data-title="Boletas" data-layout="mainMenu2" data-model="app.payments" data-show="app.payments.onShow" data-after-show="app.payments.afterShow">
    <div id='div_payments'></div>  
    <div id="errorPayments" style="display:none;text-align:center;">
        <br>
        <h1 style="color:white;" id="h1ErrorPayments"></h1>
        <br>
        <button id="btnPaymentsHome" onclick="goHomeButton()" class='km-button km-primary'>Inicio</button>
        <button id="btnPaymentsReload" onclick="app.payments.onShow();" class='km-button km-primary'>Recargar</button>
    </div>
</div>