<div id="recoverypassword" data-title="Solicitar o Recuperar Contraseña" data-role="view" data-layout="back-login" data-model="app.recoverypassword" data-show="app.recoverypassword.onShow" data-after-show="app.recoverypassword.afterShow">  
    <div style="display:none;" id="div_recovery_p1" >                  
        <ul id="form_recovery_p1" data-role="listview" data-style="inset">
            <li>
                <label class="km-label-above km-required" style="color:white;">
                    R.U.N
                   <input id="userid_request_rp1" value="" type="text" style='color:white;'/>
                </label>
            </li>
            <li>
                <label class="km-label-above km-required" style="color:white;">
                    Correo Electrónico
                   <input id="email_request_rp1" value="" type="text" style='color:white;text-transform: lowercase;'/>
                </label>
            </li>
        </ul>
        <br>
        <div style="text-align:center;">
            <input onclick="recoveryPassword1();" style="width:50%;" type="button" class="km-button km-primary" value="Solicitar"/>
        </div>
    </div>    
    
    <div style="display:none;" id="div_recovery_p2" >
        <h4 style="color:white;text-align:center;">No hemos podido verificar su correo electrónico. Por favor ingrese el número de serie registado en su cedula de identidad. Este dato sólo será utilizado para validar su RUN no será almacenado de ninguna forma.</h4>
        
        <ul id="form_recovery_p2" data-role="listview" data-style="inset">
            <li>
                <label class="km-label-above km-required" style="color:white;">
                    R.U.N
                   <input id="userid_request_rp2" value="" type="text" style='color:white;'/>
                </label>
            </li>
            <li>
                <label class="km-label-above km-required" style="color:white;">
                    Tipo de Documento
                    <input id="type_doc_rp2" value="" style='color:white;'/>
                </label>
            </li>
            <li>
                <label class="km-label-above km-required" style="color:white;">
                    Nº Serie
                   <input id="number_serie_rp2" value="" type="text" style='color:white;'/>
                </label>
            </li>
            <li>
                <label class="km-label-above km-required" style="color:white;">
                    Correo Electrónico
                   <input id="email_request_rp2" value="" type="text" style='color:white;text-transform: lowercase;'/>
                </label>
            </li>
        </ul>
        <br>
        <div style="text-align:center;">
            <input onclick="recoveryPassword2();" style="width:50%;" type="button" class="km-button km-primary" value="Solicitar"/>
        </div>   
  	</div>
</div>