<div id="history_training_pt" data-role="view" data-title="Historial Compras" data-layout="mainMenu2" data-model="app.history_training_pt" data-show="app.history_training_pt.onShow" data-after-show="app.history_training_pt.afterShow">
    <br>
    <div id="div_HBuy">
        <div style="text-align:right;">
            <b><em style="font-size:13px;color:white;">Ultimas 15 compras PT.</em></b>
        </div>
        <ul id="HBuy" data-role="listview" data-style="inset"></ul>      
    </div>
      
    <div id="errorHBuy" style="display:none;text-align:center;">
        <h1 style="color:white;" id="h1ErrorHBuy"></h1>
        <br>
        <button id="btnHBuyHome" onclick="goHomeButton()" class='km-button km-primary'>Inicio</button>
        <button id="btnHBuyReload" onclick="app.history_training_pt.onShow();" class='km-button km-primary'>Recargar</button>
    </div>  
    
    <div id="content_modal_hblock_pt"></div>
        
    <script type="text/x-kendo-template" id="template_HBuy">
        <li>
            <table style="font-size:13px;border-color:none;" class="table table-condensed">
                <tr>
                    <td style="border-color:white;">Club</td>
                    <td style="border-color:white;">:</td>
                    <td style="border-color:white;">#:club#</td>
                </tr>
                <tr>      
                    <td style="border-color:white;">Profesor</td>
                    <td style="border-color:white;">:</td>
                    <td style="border-color:white;">#:ptname#</td>
                </tr>
                <tr>      
                    <td style="border-color:white;">Bloque</td>
                    <td style="border-color:white;">:</td>
                    <td style="border-color:white;">#:date#<br>#:time#</td>
                </tr>
            </table>   
            <div style="text-align:center;">
                # if(status==0 && qrcode!=null) { #            
                    <button onclick="backMainMenu('ptEnergy'); goHref('components/burn_pt/view.html');" class="km-button km-primary" style="font-size:15px;"><i class="fa fa-qrcode fa-lg" aria-hidden="true"></i> Quemar Sesión</button>
                # } else if(status==1) { #
                    <p>¡SESIÓN QUEMADA!</p>
                # } else if(future==1) { #
                    <p>¡SESIÓN AÚN NO PUEDE SER QUEMADA!</p>
                # } else { #
                    <p>¡SESIÓN YA NO PUEDE SER QUEMADA!</p>
                # } #
            </div>
        </li>
    </script>
</div>