<div id="sales" data-role="view" data-title="Renueva tu Plan" data-layout="mainMenu2" data-model="app.sales" data-show="app.sales.onShow" data-after-show="app.sales.afterShow">

    <br>
    
    <div id="div_sales" class="container">
        
        <h2 style="color:white;">Selecciona un club donde comprar tu plan:</h2>
        
        <div id="div_btn_sales" style="background-color:transparent;border-color:transparent;text-align:center;padding-left:3%;"></div>
        
    </div>
    
    <script type="text/x-kendo-template" id="template_sales">
            
        <div class="col-xs-6 col-sm-6 col-lg-6 km-button km-primary" style="width:40%;margin-left:5%;" onclick="goSales2('#:clubid#')" >
          #: name#
        </div>
        
    </script>    
    
    <div id="errorSales" style="display:none;text-align:center;">
        <h1 style="color:white;" id="h1ErrorSales"></h1>
        <br>
        <button id="btnSalesHome" onclick="goHomeButton()" class='km-button km-primary'>Inicio</button>
        <button id="btnSalesReload" onclick="app.sales.onShow();" class='km-button km-primary'>Recargar</button>
    </div>
    
</div>
