<div id="history_block_pt" data-role="view" data-title="Historial Disponibilidad" data-layout="mainMenu2" data-model="app.history_block_pt" data-show="app.history_block_pt.onShow" data-after-show="app.history_block_pt.afterShow">
    <br>
    <div id="div_hblock">
        <div style="text-align:right;">
            <b><em style="font-size:13px;color:white;">Ultimos 15 bloques PT.</em></b>
        </div>
        <ul id="hblock_pt" data-role="listview" data-style="inset"></ul>      
    </div>
      
    <div id="errorHBlockPT" style="display:none;text-align:center;">
        <h1 style="color:white;" id="h1ErrorHBlockPT"></h1>
        <br>
        <button id="btnHBlockPTHome" onclick="goHomeButton()" class='km-button km-primary'>Inicio</button>
        <button id="btnHBlockPTReload" onclick="app.history_block_pt.onShow();" class='km-button km-primary'>Recargar</button>
    </div>  
        
    <script type="text/x-kendo-template" id="template_hblock_pt">
        <li>
            <table style="font-size:13px;border-color:none;" class="table table-condensed">
                <tr>
                    <td style="border-color:white;">Club</td>
                    <td style="border-color:white;">:</td>
                    <td style="border-color:white;">#: club#</td>
                </tr>
                <tr>      
                    <td style="border-color:white;">Bloque</td>
                    <td style="border-color:white;">:</td>
                    <td style="border-color:white;">#: date#<br>#: time#</td>
                </tr>
                <!-- <tr>      
                    <td style="border-color:white;">Estado</td>
                    <td style="border-color:white;">:</td>
                    # if(real_status==null){ #
                          <td style="border-color:white;">#: status#</td>
                    # } else { #
                          <td style="border-color:white;">#: status#<br><b>(Venta #: real_status#)</b></td>
                    # } #
                </tr> -->
                <tr>      
                    <td style="border-color:white;">\# Comprados</td>
                    <td style="border-color:white;">:</td>
                    <td style="border-color:white;">#: n_buy#</td>
                </tr>
            </table>
            <div style="text-align:center;font-size:13px;">
                # if(btn){#
                      # if(real_status == 'Activada'){#
                            <button onclick="statusBlock(#: blockid#)" class="km-primary km-button">Desactivar Venta</button>  
                      # } else {#
                            <button onclick="statusBlock(#: blockid#)" class="km-primary km-button">Activar Venta</button>  
                      # }#
                      
                # }#
            </div>                  
        </li>
    </script>
</div>