<div id="services" data-role="view" data-title="Servicios Contratados" data-layout="mainMenu2-services" data-model="app.services" data-show="app.services.onShow" data-after-show="app.services.afterShow">
    <div id='div_home'></div>
    <div id="errorServices" style="display:none;text-align:center;">
        <br>
        <h1 style="color:white;" id="h1ErrorServices"></h1>
        <br>
        <button id="btnServiceHome" onclick="goHomeButton()" class='km-button km-primary'>Inicio</button>
        <button id="btnServiceReload" onclick="app.services.onShow();" class='km-button km-primary'>Recargar</button>
    </div>  
</div>