<div id="contact" data-role="view" data-title="Contáctanos" data-layout="mainMenu2" data-model="app.contact" data-show="app.contact.onShow" data-after-show="app.contact.afterShow">        
    <div id="div_contact" style="display:none;">
        <form id="form-contact">
            <ul id="navigation-container" data-role="listview" data-style="inset">
                <li>
                    <label class="km-label-above km-required" style='color:white;'>
                        Club <img src="resources/icon_arrow_down.png" style="width:5%">
                        <input id="clubid_contact" value="" style='color:white;'/>
                    </label>
                </li>
                <li>
                    <label class="km-label-above km-required"  style='color:white;'>
                        Asunto
                        <input id="subject_contact" type="text" value=""  style='color:white;'/>
                    </label>
                </li>
                <li style="padding-left:0px;">
                    <label class="km-label-above km-required"  style='color:white;padding-left:15px;'>Mensaje&nbsp;</label>
                    <textarea id="message_contact" rows="3" value="" style='color:white;resize:none;'></textarea>
                </li>
            </ul>
        </form>
        <br>
        <div align="center">
          <button onclick='sendMsg()' class='km-button km-primary' id='new_user_vip'>Contactar</button>    
        </div>	
    </div>
    
    <div id="errorContact" style="display:none;text-align:center;">
        <h1 style="color:white;" id="h1ErrorContact"></h1>
        <br>
        <button id="btnContactHome" onclick="goHomeButton()" class='km-button km-primary'>Inicio</button>
        <button id="btnContactReload" onclick="app.contact.onShow();" class='km-button km-primary'>Recargar</button>
    </div>        
</div>