<div id="reserve_spivi" data-role="view" data-title="Reservar Cupo" data-layout="back-reserve_class" data-model="app.reserve_spivi" data-show="app.reserve_spivi.onShow" data-after-show="app.reserve_spivi.afterShow">
    <br>
    <div style="padding:15px;border-radius:15px;background-color:white;">
        <h1 style="text-align:center;" id="classname_sp"></h1>
        <p id="club_sp"></p>        
        <p id="profname_sp"></p>
        <p id="datetime_sp"></p>        
    </div>    
    <br>
    <div id="seats" style="padding:15px;border-radius:15px;background-color:white;display:none;">
        <h2 style="text-align:center;">Asientos Disponibles</h2>
        <br>
        <div id="btn_seats"></div>
        <input id='seat_id' type='hidden' value='0'/>
        <br>
        <div style="text-align:center;">
            <button onclick="reserveSpivi()" class="km-button km-primary" style="width:50%">Reservar Cupo</button>    
        </div>
    </div>
</div>
